
@media screen and (max-width: 750px){

    //about//
    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }
    
    //blogs//
    .blogs{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
}

@media screen and (max-width: 1024px){
    .section{
        .about-stats{
            .progress-bars{
                grid-template-columns: 1fr;
            }
        }
    }
}


    
    