@media screen and (max-width: 768px){
    header{
        padding: 0;
    }
    header .right-header{
        padding: 0 !important; //2rem//
    }
    .theme-btn{
        width: 50px;
        height: 50px;
    }
    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .left-header{
        .h-shape{
            display: none;
        }
    }
    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
        }
    }
    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }

    //about//
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }
    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }
    .section{
        padding: 2rem 2.5rem;
    }

    //portfolio//
    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
        .portfolio-item{
            img{
                width: 100%;
                height: 200px;
            }
            .hover-items .icons .icon{
                width: 5px !important;
                height: 5px !important;
            }
        }

    }
    
    //blogs//
    .blogs{
        grid-template-columns: 1fr !important;
        padding-bottom: 6rem;
    }

    //contact//
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }
    
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }

    //title//
    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.5rem;
            }
            .bg-text{
                font-size: 2.5rem;
            }
        }
    }

    .controlls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }
    }

    footer{
        font-size: 0.7rem;
        transform: 
        rotate(90deg)
        translate(-8rem, -4rem);
    }
}


// @media screen and (min-width: 1600px) {
//     header{
//         padding: 0 !important;
//     }
//     .section{
//         padding: 7rem 11rem;
//     }
//         //contact//
//         .contact-content-con{
//             flex-direction: column;
//             .right-contact{
//                 margin-left: 0;
//                 margin-top: 2.5rem;
//             }
//         }
        
//         .contact-content-con .right-contact .i-c-2{
//             flex-direction: column;
//         }
//         .contact-content-con .right-contact .i-c-2 :last-child{
//             margin-left: 0;
//             margin-top: 1.5rem;
//         }
// }

@media screen and (max-width: 1024px){
    header{
        padding: 0;
    }
    header .right-header{
        padding: 0 !important; //2rem//
    }
    .theme-btn{
        width: 50px;
        height: 50px;
    }
    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .left-header{
        .h-shape{
            display: none;
        }
    }
    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
        }
    }
    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            padding-top: 1.5rem;
        }
    }
    .portfolios{
        grid-template-columns: 1fr 1fr;
    }
    .gallery{
        .image{
            width: calc(100% / 2);
        }
    }
    .blogs{
        grid-template-columns: 1fr 1fr;
    }
    .main-title{
        h2{
            font-size: 4rem;
            span{
                font-size: 4rem;
            }
            .bg-text{
                font-size: 4rem;
            }
        }
    }

    //portfolio//
    .portfolios .portfolio-item .hover-items .icons .icon{
        width: 25px;
        height: 24px;
    }
    //contact//
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }
    
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }
    // .header-content .left-header .image{
    //     margin: 0 auto;
    //     width: 90%;
    // }
    .controlls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: .6rem 1rem !important;
        }
    }
    .section{
        padding: 7rem 3rem;
        .about-stats{
            .progress-bars{
                grid-template-columns: 1fr;
            }
        }
    }
    .main-title{
        h2{
            font-size: 3rem;
            span{
                font-size: 3rem;
            }
            .bg-text{
                font-size: 4rem;
            }
        }
    }
    footer{
        font-size: 0.7rem;
        transform: 
        rotate(90deg)
        translate(-8rem, -4rem);
    }
}

@media screen and (max-width: 600px){
    .gallery{
        .image{
            padding: 4px;
            width: 100%
        }
    }
}