
/* ~~~ discover/swiper photo section ~~~ */
// .card__content{
//     margin-inline: 1.75rem;
//     border-radius: 1.25rem;
//     overflow: hidden;
// }
.discover__card{
    position: relative;
    width: 200px;
    overflow: hidden;
}
.discover__data{
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
}
.discover__title,
.discover__description{
    font-family: var(--body-font-secondary);
    color: var(--white-color);
}
.discover__title{
    font-family: var(--body-font-secondary);
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}
.discover__description{
    display: block;
    font-size:var(--smaller-font-size);
}
.discover__img{
    transition: .3s;
}
.discover__img:hover{
    transform: scale(1.1);
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right{
    background-image: none;
}

/*button js*/
.swiper-button-prev::after,
.swiper-button-next::after{
    content: '';
}
.swiper-button-next,
.swiper-button-prev{
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--text-color-light);
    // display: none;
}
.swiper-button-prev{
    left: 0;
}
.swiper-button-next{
    right: 0;
}
.swiper-pagination-bullet{
    background-color: hsl(25, 46%, 74%);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: var(--text-color);
}

/*breakpoints*/
@media screen and (min-width: 768px){
    .discover__container{
        width: 610px;
        margin-left: auto;
        margin-right: auto;
    }
    .discover__container{
        padding-top: 2rem;
    }
    .swiper-button-next,
    .swiper-button-prev{
        display: block;
    }
}

@media screen and (min-width: 1024px){
    .discover__card{
        width: 237px;
    }
    .discover__container{
        width: 700px;
    }
    .discover__data{
        left: 1.5rem;
        bottom: 2rem;
    }
    .discover__title{
        font-size: var(--h2-font-size);
    }
    .swiper-button-next{
        right: -1rem;
    }
    .swiper-button-prev{
        left: -1rem;
    }

}

