:root {
    /* color */
    --maximum-yellow-red_a10: hsla(41, 99%, 64%, 0.1);
    --maximum-yellow-red_a40: hsla(41, 99%, 64%, 0.4);
    --maximum-yellow-red: hsl(41, 99%, 64%);
    --orange-red_a20: hsla(19, 100%, 55%, 0.2);
    --eerie-black: hsl(210, 11%, 15%);
    --orange-red: hsl(19, 100%, 55%);
    --davys-gray: hsl(0, 0%, 33%);
    --light-gray: hsl(0, 0%, 80%);
    --white_a80: hsla(0, 0%, 100%, 0.8);
    --white_a75: hsla(0, 0%, 100%, 0.75);
    --white_a10: hsla(0, 0%, 100%, 0.1);
    --jet_a10: hsla(0, 0%, 22%, 0.1);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --jet: hsl(0, 0%, 22%);
    
    /* typography */
    --ff-jost: 'Jost', sans-serif;
    
    --fs-45: 4.5rem;
    --fs-38: 3.8rem;
    --fs-32: 3.2rem;
    --fs-27: 2.7rem;
    --fs-26: 2.6rem;
    --fs-22: 2.2rem;
    --fs-20: 2rem;
    --fs-18: 1.8rem;
    --fs-17: 1.7rem;
    --fs-14: 1.4rem;
    --fs-12: 1.2rem;
    
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    
    /* spacing */
    --section-padding: 60px;
    
    /* shadow */
    --shadow: 0 2px 2px hsla(0, 0%, 22%, 0.08);
    
    /* border radius */
    --radius-50: 50px;
    --radius-pill: 100px;
    --radius-circle: 50%;
    
    /* transition */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}
.btn {
    background-color: var(--orange-red);
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    max-width: max-content;
    letter-spacing: 2px;
    padding: 10px 22px;
    box-shadow: 6px 6px 0 -1px var(--shadow-color, var(--jet));
    transition: var(--transition-1);
}
.btn:is(:hover, :focus-visible) {
    background-color: var(--hover-bg, var(--jet));
    box-shadow: 5px 5px 0 -2px var(--hover-shadow-color, var(--orange-red));
}
.btn-primary,
.btn-secondary {
    color: var(--white-color);
}
.btn-secondary {
    background-color: var(--jet);
    --shadow-color: var(--orange-red);
    --hover-bg: var(--orange-red);
    --hover-shadow-color: var(--jet);
}
.btn-tertiary {
    color: var(--jet);
    background-color: var(--maximum-yellow-red);
    --shadow-color: var(--orange-red);
    --hover-bg: var(--orange-red);
    --hover-shadow-color: var(--maximum-yellow-red);
}
.btn-tertiary:is(:hover, :focus) {
    color: var(--white);
}